numpy==1.26.0
opencv-python
wandb
einops
rotary-embedding-torch
ema-pytorch
omegaconf
diffusers
accelerate
boto3
python-dotenv
wandb[media]
moviepy==1.0.3
fvcore
pynvml
vector-quantize-pytorch==1.22.17
git+https://github.com/shahbuland/PerceptualSimilarity
torchmetrics
ray
datasets
huggingface-hub
alias-free-torch
git+https://github.com/sypsyp97/convnext_perceptual_loss
wandb[media]
torchtyping
